<div>
    <h1>Gestion des patients</h1>

    <nz-card style="width:100%;" nzTitle="Ajouter un patient">
        <form (ngSubmit)="addNewCustomer(customerForm)" #customerForm="ngForm">
            <div class="form-group">
                <input minlength="2" maxlength="25" type="text" required class="form-control custom-input" id="name"
                    name="name" [(ngModel)]="newCustomer.name" placeholder="Nom du patient *" #name="ngModel">
                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                    Le nom du patient est requis
                </div>
            </div>

            <div class="form-group">
                <input minlength="2" maxlength="25" type="text" required class="form-control custom-input"
                    id="firstname" name="firstname" [(ngModel)]="newCustomer.firstname"
                    placeholder="Prénom du patient *" #firstname="ngModel">
                <div [hidden]="firstname.valid || firstname.pristine" class="alert alert-danger">
                    Le prénom du patient est requis
                </div>
            </div>

            <div class="form-group">
                <input type="number" min="0" max="99" required class="form-control custom-input" id="age" name="age"
                    [(ngModel)]="newCustomer.age" placeholder="Age du patient *" #age="ngModel">
                <div [hidden]="age.valid || age.pristine" class="alert alert-danger">
                    Veuillez saisir un age valide
                </div>
            </div>

            <div class="form-group">
                <input minlength="1" maxlength="30" type="text" required class="form-control custom-input" id="location"
                    name="location" [(ngModel)]="newCustomer.location" placeholder="Ville du patient *"
                    #location="ngModel">
                <div [hidden]="location.valid || location.pristine" class="alert alert-danger">
                    Veuillez indiquer une ville
                </div>
            </div>

            <div class="form-group">
                <select placeholder="Sexe du patient" required class="form-control custom-input" id="gender"
                    name="gender" [(ngModel)]="newCustomer.gender" placeholder="Sexe du patient *" #gender="ngModel">
                    <option>Homme</option>
                    <option>Femme</option>
                </select>
                <div [hidden]="gender.valid || gender.pristine" class="alert alert-danger">
                    Veuillez indiquer le genre du patient
                </div>
            </div>

            <div class="form-group">
                <input maxlength="10" minlength="6" type="tel" required class="form-control custom-input" id="telephone"
                    name="telephone" [(ngModel)]="newCustomer.telephone" placeholder="Numéro de téléphone du patient *"
                    #telephone="ngModel">
                <div [hidden]="telephone.valid || telephone.pristine" class="alert alert-danger">
                    Veuillez indiquer un numéro de téléphone
                </div>
            </div>

            <div class="form-group">
                <input maxlength="50" type="email" required class="form-control custom-input" id="email" name="email"
                    [(ngModel)]="newCustomer.email" placeholder="Email du patient *" #email="ngModel">
                <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
                    Veuillez indiquer une adresse email de contact
                </div>
            </div>

            <button [disabled]="!customerForm.form.valid" type="submit" nz-button nzType="primary">Enregistrer</button>
        </form>

    </nz-card>
</div>